/* Home.css */

.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  
  /* Header.css */
  .header {
    background-color: white;
    color: #333;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: 15vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    margin-right: 50px;
  }
  
  .header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .header nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    margin-left: auto;
  }
  
  .header nav ul li a:hover {
    color: #FFD700;
    /* Change color on hover */
  }
  
  .logo {
    width: 20%;
    background-size: cover;
  }
  
  /* SearchBar.css */
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-top: 200px;
    width: 60%;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 40%;
  }
  
  .search-bar button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
  }
  
  
  .select {
    background-color: transparent;
    border: solid 1px rgb(147, 147, 154);
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    outline: none;
    height: 45px;
    margin-right: 20px;
  }
  
  .chef-cont div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-left: 30px;
  }
  .chef-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-left: 30px;
    width: 25%;
    border-radius: 10px;
  }
  
  .chef-cont h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    line-height: 0;
  }
  
  .chef-cont p {
    font-size: 1rem;
    line-height: 0;
  }
  
  .chef-cont img {
    width: 30%;
  }
  
  .chef-cont button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    line-height: 1;
  }
  
  .chef-cont button:hover {
    background-color: #0056b3;
  }
  
  
  
  /* chefList.css */
  
  .chef-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .notifies{
    position: fixed;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
    max-height: 50px;
    align-self: center;
  }