
.registration-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffcc29, #ff5733);
  }
  
  .registration-form {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: center;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .form-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff5733;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin: 20px;
  }
  
  .label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #ff7f50;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .registration-form {
      width: 80%;
    }
  }
  
  .signup-btn{
    color: rgb(231, 80, 80);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
  }

  .input-ele{
    background-color: transparent;
    border: solid 1px rgb(147, 147, 154);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    height: 45px;
  }