.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(135deg, #ffcc29, #ff5733); */
    background-image: url("../../Logos/restaurant-interior.jpg");
    background-size: cover;
}